{% include "header.html"%}

<div class="container" role="main">
    <div class="page-header">
        <h1>About sida</h1>
        <div class = "about">
            <p>Denna Kurs heter objektorienterad python och är den första kursen jag läser där jag jobbar med objekt.</p>
            <p>Hitills i kmom01 har det varit en hel del nytt, objekt, klasser, instancer,metoder, .self __init__ etc, mycket information men väldigt spännande och kul!</p>
        </div>
    </div>
</div>

{% include "footer.html"%}