{% include "header.html"%}

<div class="container" role="main">
    <div class="page-header">
        <h1>Min hemsida för OOPYTHON kursen.</h1>


        <p>Hallå och välkommen till min hemsida som jag kommer att använda mig utav under kursen {{ course }} hos Blekinge Tekniska Högskola.</p>
        <p>Mitt namn är {{firstname}} {{lastname}}, nybliven 30 åring och jag läser webbprogrameringsprogrammet 120HP</p>



        <img src="{{ picture }}" class="me-left" alt="{{ firstname }}">



    </div>


</div>

{% include "footer.html"%}