.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mt-6 {
    margin-top: 75px;
}

p {
    font-weight: bold;
    font-size: 1.4em;
}

h1 {
    text-align: center;
}

.center {
    text-align: center;
}

input[type="date"].form-control {
    line-height: 25px;
}

.no-bullet {
    list-style-type: none;
}


body {
    padding-top: 75px;
    padding-bottom: 35px;
}

.container {
    background-color: rgb(238, 238, 238);
}