{% include 'header.html' %}

<div class="container" role="main">
    <div class="page-header">
        <h1>Här kommer jag skriva redovisningar för kursen.</h1>
    </div>
    <p><b>Kmom01</b></p>
    <p><b>Var det några problem med att venv och installera Flask?</b></p>
    <p>Nej, jag följde guiden som vanligt och de fungerade utan problem. Jag har haft tur att det fungerat bra i alla kurser, så länge jag följt allt steg för steg så har jag aldrig stött på problem än så länge.
    Dock så jinxar jag det nu så jag misstänker att jag får bita upp detta nästa installation :).</p>
    <p><b>Är du bekant med objekt och klasser sedan tidigare?</b></p>
    <p>Nej inte i någon större skala. Sysslade ju lite med det i JSkursen särskilt sista uppgiften/projektet. Men det här kändes ändå annorlunda så jag hade ingen 'fördel' för det.
    Utöver det har jag inte sysslat med det någontning, visste inte ens vad det var.</p>
    <p><b>Vad är en klass/objekt?</b></p>
    <p>Ett objekt är en samling av data och värden, och objektet tillsammans med flera andra objekt kan 'hållas' av en klass. Klassen innehåller olika typen av värden/attribut som objekten använder sig av när de skapas.
    De används sedan genom olika metoder eller funktioner som styr vad de ska göra.</p>
    <p><b>Vad är skillnaden på instans- och statiska attribut/metoder?</b></p>
    <p>De statiska attribut/metoderna är inte påverkade av värdena som finns i det gällande objektet utan ger samma utgång för alla. Men de som är instansspecifika påverkas av ett värde hos objektet och beroende på det värdet så kommer utfallet
    bli olika beroende på värdet som skickas in.</p>
    <p><b>Vilka programmeringsparadigmer känner du till?</b></p>
    <p>Ser man till vad jag tittat på eller har lite erfarenhet av nu så är det förmodligen objektorienterad, även om de inte är så mycket erfarenhet. Utöver det så känns procedurell programmering också igen, annars kommer jag inte på någon mer på rak arm, eventuellt kan jag ha arbetat med något mer utan att veta att det är just en paradigm.</p>
    <p><b>Har du någon erfarenhet av Bootstrap sedan tidigare?</b></p>
    <p>Nej, det var helt nytt för mig. Men med guiden som var så fungerade de smidigt att implementera och få igång. Skönt att slippa bygga sin egna navbar for once också! :).</p>
    <p><b>Gick det bra att komma i gång med kursmomentet, var det lagom, för litet, för stort?</b></p>
    <p>Själva installationen och få igång allting gick smidigt och snabbt. Labben tyckte jag va ok också, de två sista med add och iadd var lite kluriga jämfört med de andra.
    Själva me-sidan tog en stund att få ihop, men när man väll fick första kravet, typ namnet att fungera att skicka från json till app.py och vidare till index så flöt allting på mycket bättre. Så även om de kändes lite hopplöst att förstå i början,
    nu i efterhand när allt är på plats så känns den inte så stor uppgiften. Så det var skönt.</p>

    <p><b>Kmom02</b></p>
    <p><b>Kan du ge exempel på något användningsområde där objektorientering och arv hade passat bra?</b></p>
    <p>Det är ju användingbart så fort man har behovet av att använda om koden igen, även om de vi gjorde nu inte var så stort projekt, så visar det sig nog ännu mer i större projekt.
        Att kunna återanvända de metoderna som finns i 'superklassen' utan att behöva skriva om allting flera gånger för varje klass. Det gör ju att man sparar både mycket tid och plats, ingen vill ha massa extra onödig kod! :)
        Det håller också uppe, som det sas på atomicobject.com uppe en viss standard när de kommer till kod vilket är bra!</p>

    <p><b>Förstod du de olika relationerna och skillnaden på dem?</b></p>
    <p>Ja någorlunda, men när jag ska prata om det/arbeta med de behöver jag ändå gå tillbaka och se över litteratur osv, så det krävs mer tid för att känna mig riktigt säker på det.
    Att se ett klassdiagram t ex och förstå det känns relativt bra men att rita upp ett själv är mycket svårare. Jag hänger med på att komposition innebär att två klasser är beroende av varandra, dvs kan inte existera utan den andra medan aggregation så existerar de parallellt men inte beroende av varandra, och sist association är att de är fristående. </p>

    <p><b>Vad innebär polymorfism inom objektorienterad programmering?</b></p>
    <p>Det är när metoder är definerade och används från en basklass men i de olika subklasserna kan användas på olika sätt. Antingen att man ändrar något bestämt attribut eller skriver över.
     </p>

    <p><b>Vad innebär inkapsling och publika interface inom objektorienterad programmering?</b></p>
    <p>Det kan användas vid t ex de lägen då man inte vill att viss data ska vara publikt. Som på föreläsningarna när Andreas pratar om bankaccounts, och saldot ska vara skyddat. Då kanske det inte ska vara åtkomligt av användaren att ändra eller gå att nå.
    Till skillnad från publika interface där man arbetar med metoder som man får tillgång till och kan jobba med privata attribut.</p>


    <p><b>Gick det bra att komma i gång med kursmomentet, var det lagom, för litet, för stort?</b></p>
    <p>I början hade jag faktiskt lite panik, när jag bara såg videon och tittade på trädet, sen öppnade upp uppgiften i  atom. Blev lite overwhelming med allt och när man inte gjort grunden själv att börja orientera sig och sådär.
    Men efter några djupa andetag så började jag skriva in de fetstilade från trädet, och försökte hitta en ände att börja på. Då lossnade det ganska snabbt och uppgiften gick oförskämt bra att ta sig igenom, för man va ganska rädd när man hörde Andreas
    prata om att det var ett 'cursed kmom' och hur tidigare år har haft massa problem. Men att vi fick lite gjort från början som inte gjordes förra året tror jag gjorde mycket också. Så nu är uppgiften mer rimlig, hade det även varit det så förstår jag att folk fastnade.
    Särskilt när man ska hinna med att göra databas också!</p>

    <p><b>Vad tycker du om den typen av uppgift?</b></p>
    <p>Kanon! Det är säkert en del som tycker de är krångligt men samtidigt är det ju väldigt spot-on vad vi behöver träna på. Skönt att all frontend va klart från början, annars hade det nog varit lite för mycket. Så jag tycker det är kanon!</p>

    <p><b>Gjorde du extrauppgiften?</b></p>
    <p>Nej det gjorde jag inte, mest för att jag ska hinna med databas som även den tar en hel del tid.</p>

    <p><b>Kmom03</b></p>
    <p><b>Är du bekant med UML sedan tidigare?</b></p>
    <p>Nej det är jag inte, det är helt nytt mer än att vi sett klassdiagrammet för kmom02 som man utgick ifrån. Det tar ju lite tid att förstå, men de kommer man in i rätt snabbt tycker jag. Däremot att rita ut klassdiagram själv va mycket svårare.
    Så det kan man nog behöva göra en gång eller två innan man känner sig helt hemma på.</p>
    <p><b>Är du bekant med unittester sedan tidigare?</b></p>
    <p>Nej det har jag aldrig gjort förut. Det tog ett litet tag innan jag förstod hur man skulle skriva dom för att de skulle fungera, men eftersom de metoderna jag hade i detta projektet inte var så avancerade så gick de rätt snabbt och bra.
    Stötte inte heller direkt på några problem kring någon metod eller sådär, så blev inte någon större felsökning vilket kanske hade varit bra så man fick se den delen också.</p>
    <p><b>Kan du se nyttan med UML och tester inom ramen för ett projekt?</b></p>
    <p>Absolut! Dels för överblicken, och se hur det hänger ihop, vad som finns på plats eller vad som behöver finnas på plats. Tester känns också som ett väldigt effektivt sätt att testa sin kod, istället för som vi kanske jobbat innan att man gör någon extra variabel och provar runt med, försöker se vart felet är och vad som händer,
    detta underlättar sökandet och lokaliserandet avsevärt känns det som och ger en bra bild av vad som är fel, istället för att behöva 'chansa sig rätt' så som man kanske gjort mer tidigare.</p>
    <p><b>Vad tycker du om objektorienterad programmering än så länge?</b></p>
    <p>Jag tycker det är intressant och kul, men klurigt stundvis. De vi sysslat med än så länge har gått ganska bra, även om de tagit rätt lång tid att få ihop allt. Så det har inte varit något större problem som man fastnat på och sådär.
    Däremot så är de ju inte så stora saker vi sysslat med kanske, så det har gått relativt lätt att få ihop, eller förstå vad som behöver funka/vad som inte funkar. Men det är väldigt lärorikt.</p>
    <p><b>Gick det bra att komma i gång med kursmomentet, var det lagom, för litet, för stort?</b></p>
    <p>Det gick bra att komma igång. Alltid lite jobbigt när man öppnar upp ett tomt Atom och bara 'ska sätta igång', att veta i vilken ände man ska börja. Men de känns bra. Det tar ju som sagt rätt mycket tid, samtidigt som även databas är väldigt tidskrävande, så det är mycket plugg nu och väldigt lite fritid vilket kan kännas lite frustrerande såklart,
    det blir okcså att man  hela tiden känner att man måste 'stressa' sig framåt. Så även om man vet att en lösning kanske inte är perfekt, så fungerar den och man har inte riktigt tiden att sätta sig ner och ändra om vilket kan va lite synd.</p>


    <p><b>Kmom04</b></p>
    <p><b>Har du skapat egna datastrukturer förut?</b></p>
    <p>Nej det har jag inte, har inte programmerat någonting innan jag började denna utbildningen så det är nytt för mig. Det som jag tycker är lite klurigt fortfarande är att se allt 'pekande' framför mig.
    när man t ex gör de olika metoderna för append/remove och liknande. Det är svårt då att hålla koll på vilket som blir previous, .next current.next osv osv till slut blir det rörigt. Men eftersom det är nytt så kommer man väll in i det mer.</p>
    <p><b>Vilken typ av lista valde du att göra och varför?</b></p>
    <p>Jag valde att göra en enkellänkad lista, inte för att jag kände de va bättre på något vis, men det var efter föreläsning samt den infon jag fick fram när jag väl började och sökte mig runt, så till slut föll det på det.
    i min remove funktion använder jag dock previous, eftersom vi fick ett exempel visat för oss på en föreläsning, men vet inte om de räknas som en dubbellänkad bara pga det...?</p>
    <p><b>Vilka exceptions skapade du? Hur gör man för att de ska kastas i listan?</b></p>
    <p>Jag valde att göra ett exception för när index inte hittas eller finns samt ett exception för samma fast när det gäller data.
    Jag har använt de på de vis att det ligger dels 'ytterst' på de olika metoderna, bara för att kolla om listan är tom eller ej, vilket i så fall säger till. Men också inuti om man har en lista med saker i, men anger t ex ett för högt index eller skriver in data som inte matchar.
    </p>
    <p><b>Gjorde du någon extrauppgiften?</b></p>
    <p>Nej inte denna vecka, pga tidsbrist. Detta skulle ju vara inne förra veckan men först idag, måndag, blir jag klar med allt. Det har tagit mycket tid samt databas hade ett väldigt tungt kmom, så tyvärr fick jag ingen tid över till extrauppgifter.</p>
    <p><b>Vad är en länkad lista kontra en array?</b></p>
    <p>Med en array så låser man sig till ett visst antal platser när den skapas. Alltså hur mycket som får plats i den listan. Men en länkad lista kan fyllas på eftersom den inte är låst till ett visst antal minnen.
    Men är det så att man vet antalet man behöver, dvs att man inte ska fylla på mer i listan så känns det enklare att arbeta me arrayer, men förstår varje länkade listor är nödvändiga.</p>
    <p><b>Gick det bra att komma i gång med kursmomentet, var det lagom, för litet, för stort?</b></p>
    <p>Det gick helt ok denna veckan. Det tog lite tid men när man väl fått ihop queue uppgiften så flöt faktiskt list på väldigt bra. Det var inte superenkelt, utan tog mycket tid för mig, men var ändå inte så att jag fastnade på något i typ en dag som de har varit tidigare någon gång.
    Kursmomentet kändes rimligt stort, det är så klart tungt när det är stora kursmoment även i den andra kursen vi läser, och man måste verkligen lägga ner mycket tid. Men just för oopythons kmom denna vecka så känns det fullt rimligt, och kul!</p>

    <p><b>Kmom05</b></p>
    <p><b>Vad är rekursion?</b></p>
    <p>Det är en funktion som 'använder sig själv', men med ett villkor som den går emot  hela tiden så det inte blir oändligt loopat.  Så den defineras i termer av sig själv men med ett basfall den jobbar mot för att stoppa när det är uppfyllt.</p>
    <p><b>Känner du att du har förståelse för hur sorteringsalgoritmerna fungerar?</b></p>
    <p>Jag tycker det satte sig helt OK denna vecka, dock blev den rekursiva funktionen aningen klurigare. Man uppskattar ju sort() osv mycket mer nu än man gjorde tidigare...
    Jag tycker att med det vi gjorde förra veckan och försökta implementera dem metoderna i denna veckans uppgifter var utmanande. När det väl släppte för uppgift 1 hur man skulle tänka så gick det bra, men tog en lång stund att sätta sig in i det, och försöka förstå helheten och strukturen.
    </p>
    <p><b>Vad tycker du om VisuAlgo?</b></p>
    <p>Det är ett superbra verktyg, det är så mycket enklare att förstå saker när det visualiseras och man kan följa det steg för steg än att sitta och läsa någon artikel som förklarar det med ord.
    Särskilt i början fick man gå tillbaka och tänka vad som faktiskt hände och vad man ville åstakomma och då hjälpte visualiseringen en hel del.</p>
    <p><b>Vad är big-O?</b></p>
    <p>Det mäter komplexiteten eller effektiviteten av en algoritm. Den beskriver 'worst-case scenario' och kan ta fram tiden för att köra algoritmen alternativt minnet använt så man kan mäta hur effektivt det är.</p>
    <p><b>Gjorde du någon av extrauppgift?</b></p>
    <p>Nej, de kurser vi läser nu tar mycket tid att hinna med som det är när man försöker ligga i fas varje vecka vilket är mitt mål. Då blir det inte så mycket tid över att sätta sig med extrauppgifterna tyvärr.
    Även om de på förhand inte såg så stort ut detta kmom så tog det lång tid innan allt föll på plats.</p>
    <p><b>Gick det bra att komma i gång med kursmomentet, var det lagom, för litet, för stort?</b></p>
    <p>Jag tyckte att labben gick bra, och det är alltid kul med labbar, särskilt nu när det var någon vecka sen vi gjorde en. Det är också en bra förberedlse för uppgifterna tycker jag.
    Uppgifterna i sig såg inte så stora ut som sagt, men tog en hel del tid att lösa. Det började lite knackigt för mig för jag inte förstod riktigt vad tanken var, utan jag använde den koden man klistrade in som den var, och anpassade sedan resten av koden till den istället för tvärtom.
    Men sen när jag väl fick de förklarat att de skulle va tvärt om så gick de helt ok.. :).</p>


    <p><b>Kmom06</b></p>
    <p><b>Vad är ett Binärt sökträd?</b></p>
    <p>Ett binärt sökträd är ett träd uppbyggt av noder. Varje nod har högst två barn, och noderna har satta egenskaper som uppfylls.
    Det är att varje nod ska ha ett värde, och trädet byggs upp så att de noder till höger om föräldernoden har högre värde, medans till vänster har lägre värde. Det är bra att använda dessa typer av träd
    för att de är effektiva sökalgoritmer till dem.</p>
    <p><b>Hur gick det att skriva de rekursiva funktionerna?</b></p>
    <p>Det gick ok. Jag tycker de är svårt fortfarande för jag tänker för mycket på 'vanliga' funktioner och så blir det mer åt det hållet än rekursivt. Sen till slut så går det ju, men känner att jag behöver mer träning på detta.
    Tror mer det handlar om att komma in i tankesättet för denna typer av funktioner än att förstå dem. Men det går bättre och bättre. </p>
    <p><b>Vad är Inorder, Preorder och Postorder när man pratar om traversera träd?</b></p>
    <p>När man pratar om postorder så innebär det att alla nodens barn gås igenom innan noden själv gås igenom. Vid preorder så är det tvärtom, dvs själva noden själv gås igenom innan barnen gås igenom och vid inorder så är det vänster delträd som gås igenom, sedan noden själv och till slut högra trädet.</p>
    <p><b>Vad är en Hash table?</b></p>
    <p>Det är en datastruktur där en nyckel sparas tillsammans med data. Sedan beräknas positionen i strukturen med en hashfunktion. Hashning används när man enkelt vill få tillgång till element i en lista.</p>
    <p><b>Kan du jämföra och resonera kring de olika datastrukturerna vi gått igenom i kursen? Vilken passar till vad?</b></p>
    <p>De olika vi arbetat med och/eller pratat om är stack, länkad lista samt queue. Stack är en datastruktur som är linjär och påminner om en stapel. Sist in först ut gäller för stacks och de är bäst att använda vid tillfällen där man är ute efter just det, att de ska ut i reverserad ordning från hur du la till det.
    Jämfört med en queue som påminner mycket om stack men är öppen i båda ändar. Den ena sidan för att lägga till den andra sidan för att ta bort element, det vill säga ett First In First Out, och används bäst i de tillfällen när man behöver en lista som gör just så, de ska ut i den ordning man satte in dem i.
    En lista är bra att använda när man ska kunna plocka ut någonting, oavsett när man valde att sätta in det. De blir heller inte automatiskt borttagna.</p>
    <p><b>Gick det bra att utföra kursmomentet?</b></p>
    <p>Det gick bra fram till remove. Tyckte de va otroligt svårt och satt nog i 3 dagar med bara remove, kändes sjukt rörigt och att ha koll på allting hur det ska funka, hur de inte funkade och varför de inte gjorde det.
    Sen är jag inte superbra vän med debuggern heller så hjälpte mig inte supermycket. Men till slut fungerade det.</p>

    <p><b>Kmom10</b></p>
    <p><b>För varje krav du implementerat, dvs 1-6, skriver du ett textstycke om ca 5-10 meningar där du beskriver vad du gjort och hur du tänkt.
    Poängsättningen tar sin start i din text så se till att skriva väl för att undvika poängavdrag. Missar du att skriva/dokumentera din lösning så blir det 0 poäng.
    Du kan inte komplettera en inlämning för att få högre betyg.</b></p>

    <p>__Krav1__
        Krav 1 var ju egentligen nästan hela projektet så kan bli svårt att sammanfatta allt på 5-10 meningar(säger jag och slösar en mening här). Men jag valde att jobba med dictionaries i mitt projekt, mest för om tid fanns till krav 4 och senare så skulle de finnas möjlighet tilldetta.
        Allting gick i bra takt och utan märkbara fel fram till remove funktionen som jag fick sitta lite längre med. Dock så i efterhand så fick man ju ta sina 'färdiga' funktioner och göra om och anpassa utefter de nya man byggde, samt testerna, men det var små justeringar så det gick också bra.
        Jag har tidigare haft lite halvsvårt att komma in i tänket kring rekursiva funktioner, och det är nog först under detta kursmoment det släppte någorlunda vilket är skönt (bättre sent än aldrig). Jag tyckte väll att trots mitt klassdiagram det var lite svårt att börja,
        men med gitter och sådär så fick man tips från och till.
        __Krav2__ klassdiagrammet var någorlunda rätt, har ju inte gjort så många sedan tidigare så med lite mer erfarenhet och vana hade jag nog prickat mer rätt. Men bortsett från det rekursiva t ex att remove kallar på _remove, så satt iallafall alla funktioner i stort sett. Tyckte däremot det var svårare att tänka på returvärde osv.
        __Krav3__ testerna gick bra att skapa. Jag provade både där det går fel samt där det går rätt och får fram det jag förväntar mig. Det var nog på någon funktion jag fick lägga till en return bool för att annars returnerade den None.
        Utöver detta gick det bra. Det underlättade väldigt att arbeta med papper och penna, särskilt under remove, då det ibland va rätt mycket att hålla reda på, sen rekursivt på det så blev det för mycket att hålla i huvudet. Då var det kanon att sätta sig ner och rita upp vad som faktiskt hände och vad man vill ska hända.
    </p>

    <p><b>Skriv ett allmänt stycke om hur projektet gick att genomföra.
    Problem/lösningar/strul/enkelt/svårt/snabbt/lång tid, etc.
    Var projektet lätt eller svårt? Tog det lång tid? Vad var svårt och vad gick lätt? Var det ett bra och rimligt projekt för denna kursen?</b></p>

    <p>För min del så  skulle jag säga att allt gick bra fram till remove som var lite svårare att få ihop. Jag blir ju alltid lite overwhelmed när de är mycket som ska göras,  och man öppnar upp ett helt tomt Atom, ovana i guess eftersom jag inte har programmerat tidigare. Men när jag väl kom igång, fick in menyn, funktionsnamn även om jag satte pass på dom bara från början och sådär så blev det lättare.
    Då började jag kunna se strukturen och utgå därifrån, med en sak som skulle fungera i taget. Jag hade som sagt inte några superstora svårigheter fram till remove, och den gick också rätt bra fram till just det momentet att man ville att det skulle sluta ta bort noder när det stötte på en end node, men inte om de gällde första för den är ju alltid end.
    Jag gjorde så att när jag gick in i loopen, så ändrade jag (sista noden, som blir först i loopen) till .end = False, och på så vis kom jag runt det. Att just komma på den lilla raden med kod, tog mig säkert flera timmar, med massa omskrivning av kod, googlande och allt möjligt. Men till slut när jag var ute med hunden föll poletten ner .... Så det var kul.
    Projektet i sig var rimligt till kursen tycker jag nu i efterhand. Men under tiden jag satt med remove i typ flera dagar kändes det inte så haha.. men nu när man har lösningen så är tycker jag de är OK.
    Jag tror också att man blir lite stressad, för de olika kursmomenten för denna kursen samt databas som gått samtidigt, de har tagit så otroligt mycket tid och energi. Verkar som många inte är i fas med kmomen för någon av kurserna, och de har jaghaft som ambition att vara, och då har jag suttit typ varje dag, hela dagen i flera veckor nu. Så med de i åtanke, sen att ha en databastenta kommande,
    tror det kändes extra tungt i början pga detta, men det ska nog lösa sig, och de är ju självvvalt också såklart att sitta så mycket, men för min del orkar jag inte ha saker släpande. Sedan kanske jag jobbar i ett slött tempo också, säkert många som löser detta myyyyycket snabbare än vad jag gör.</p>

    <p><b>Avsluta med ett sista stycke med dina tankar om kursen och vad du anser om materialet och handledningen (ca 5-10 meningar).
    Ge feedback till lärarna och förslå eventuella förbättringsförslag till kommande kurstillfällen.
    Är du nöjd/missnöjd? Kommer du att rekommendera kursen till dina vänner/kollegor? På en skala 1-10, vilket betyg ger du kursen?</b></p>

    <p>Jag tycker det har fungerat bra som alltid. Fungerar förvånansvärt bra att köra utbildningen generellt på distans även utan erfarenhet vilket oroade mig lite i början av utbildningen, men som tidigare har denna kursen också fungerat bra, med materialet man behövt samt hjälpen. Även om det känns som en rätt tung kurs ibland som kräver mycket tid.
    Min uppfattning är att Andreas är den som haft mest koll på just oopython, då han kört alla föreläsningar osv så kan tänka mig att han fått mycket frågor osv under kursens gång från alla möjliga håll, och det kanske då är svårt att svara i tid och otid, så om det är så att fler lärare har koll på detta någorlunda kanske det kan framgå lite tydligare så man vet att man akn vända sig till någon av de andra om man fastnar. T ex som nu var ju Andreas iväg en stund under kursens gång.
    Men är det så att ingen av de andra lärarna har samma erfarenhet av oopython så är det ju som det är :). Generellt så hade jag rekomnderat utbildningen till vänner som funderar på programmering och sådär, men hade nog bett dom förbereda sig när det är dags för databas och oopython samtidigt, för det blir inte mycket fritid över haha. Det jag bara kan tänka mig som man kanske hade kunnat göra i framtiden är att synka de ihop mer med databas, för vissa kmom där tog galet mycket tid, och då
    samma vecka var det ett riktigt tungt kmom även här i denna kursen, då kändes det inte som det var två kurser som gick på 50%. Även om man ska plugga 8h om dagen och sådär, så var jag nog uppe i både mycket mer samt körde helgerna också, allt för att bara hålla tempo med båda kurserna och dess kmom. Kursen får 8 av 10, bara för det ibland var lite överväldigt med databas och oopython.</p>
</div>

{% include 'footer.html' %}
